*{
    margin: 0;
    padding: 0;
}

header{
    
    height: 150px;
    background-color: #A0A59F;
    list-style-type: none;
    
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linha-horizontal {
   
    border:  2px ridge;
    margin-bottom: 100px;
  }




/*TEMPORADA 1 STYLE*/
.main_tum {
    font-family: "Rye", serif;
    padding-top: -10px;

}

#temporada_um img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}

/*TEMPORADA 2 STYLE*/
.main_tdois{
    font-family: "Rye", serif;

}

#temporada_dois img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}




/*TEMPORADA 3 STYLE*/
.main_ttres{
    font-family: "Rye", serif;
    font-size: 15px;

}

#temporada_tres img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}

/*TEMPORADA 4 STYLE*/
.main_tquatro{
    font-family: "Rye", serif;

}

#temporada_quatro img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}

/*TEMPORADA 5 STYLE*/
.main_tcinco{
    font-family: "Rye", serif;
    

}

#temporada_cinco img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}

/*TEMPORADA 6 STYLE*/
.main_tseis{
    font-family: "Rye", serif;

}

#temporada_seis img{
    height: 100px;
    width: 200px; 
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border: solid 2px #A0A59F;
    margin-left: 8px;
}

p {
    
    position: relative;
    margin-top: 20px;
    left: 10px;
}

h2{
    position: relative;
    top: 5px;
    left: 10px;
}