*{
    margin: 0;
    padding: 0;
}

header{
    
    height: 200px;
    background-color: #A0A59F;
}
.logo{
    text-align: right;
}
a{
    color: white;
    text-decoration: overline;
     
}


/* .imagem1{
    width: 500px;
    height: 500px;
} */

#sobre{
    font-family: "Rye", serif;
    text-align: center;
    
}

.linha-horizontal {
   
    border:  2px ridge;
  }


.menu ul{
    list-style-type: none ;
    /*background-image:url("imagens/peaky_blinders.jpg") ;*/
    background-repeat: no-repeat;
    font-family: "Rye", serif;
    background-color: #A0A59F;
    

}

.menu ul li {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    /* padding: 10px; */
   
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.menu ul li a:hover{
    background-color: black
}


.menu ul ul{
    display: none;
    
    position: absolute;
    left: -20px;
    
    
}

.menu ul li:hover ul{
    display: block;

}

.menu ul ul{
    width: 150px;
    height: 350px;
    
}

.menu ul ul li a{
    display: block;
}

.sectionAbsolute{
    display: inline-block;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    margin: 20px;
    padding: 20px;
    
   
}

.sectionAbsolute__div1{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(./imagens/thomas.jpg);
    background-size: cover;
    position: relative;
    top: 20px;
    
    border: solid 4px #A0A59F;
}

.sectionAbsolute__div2{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(./imagens/arthur2.jpg);
    background-size: cover;
    position: relative;
    top: 20px;
    
    border: solid 4px #A0A59F;
}

.sectionAbsolute__div3{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-image: url(./imagens/jhon.jpg);
    background-size: cover;
    position: relative;
    top: 20px;
    
    border: solid 4px #A0A59F;
}

body{
    color: white;
    background-color: black;
}



.trailer{
    text-align: center;
    
}

footer{
    height: 50px;
    background-color: #A0A59F;
    text-align: center;
    position: relative;
    top: 20px;
    padding-top: 25px;
    font-family: "Rye", serif;
}

