
/*TEMPORADA 1 STYLE*/
.main_tum {
    font-family: "Rye", serif;

}

/*TEMPORADA 2 STYLE*/
.main_tdois{
    font-family: "Rye", serif;

}

/*TEMPORADA 3 STYLE*/
.main_ttres{
    font-family: "Rye", serif;

}

/*TEMPORADA 4 STYLE*/
.main_tquatro{
    font-family: "Rye", serif;

}

/*TEMPORADA 5 STYLE*/
.main_tcinco{
    font-family: "Rye", serif;
    

}

/*TEMPORADA 6 STYLE*/
.main_tseis{
    font-family: "Rye", serif;

}
