*{
    margin: 0;
    padding: 0;
}

header{
    
    height: 300px;
    background-color: #A0A59F;
}
.logo{
    text-align: right;
}
nav > a{
    color: white;
    padding: 10px;
    
}

#sobre{
    font-family: "Rye", serif;
    text-align: center;
    
}


.menu ul{
    list-style-type: none ;
    /*background-image:url("imagens/peaky_blinders.jpg") ;*/
    background-repeat: no-repeat;
    
    background-color: #A0A59F;
    

}

.menu ul li {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 10px;
   
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.menu ul li a:hover{
    background-color: aqua
}


.menu ul ul{
    display: none;
    
    position: absolute;
    left: 0;
    
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul{
    width: 150px;
    
}

.menu ul ul li a{
    display: block;
}



.trailer{
    text-align: center;
}

