.elenco{
    font-family: "Rye", serif;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linha-horizontal {

    border:  2px ridge;
    margin-bottom: 100px;
  }

.elenco img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: solid 2px #A0A59F;
    margin-left: 8px;
    margin-right: 15px;
    margin-top: 45px;
  }

.tommy{
    display: flex;
    align-items: center;
  }


.arthur{
    display: flex;
    align-items: center;
  }

.jhon{
    display: flex;
    align-items: center;
  }

.polly{
    display: flex;
    align-items: center;
  }

.ada{
    display: flex;
    align-items: center;
  }

.finn{
    display: flex;
    align-items: center;
  }
  
.grace{
    display: flex;
    align-items: center;
  }

.lizzie{
    display: flex;
    align-items: center;
  }

.linda{
    display: flex;
    align-items: center;
  }

.michael{
    display: flex;
    align-items: center;
  }


  span{
    font-size: 20pt;

  }


/* p {
    display: flex;
    flex-direction: column;
} */

/* h2{
    margin-top: 20px;
} */

footer{
    position: relative;
    top: 110px;
    text-align: center;
}

